body{
	background-color: whitesmoke;
	text-align: center;
}

a{
	text-decoration: none;
	color: red;
}

button{
	padding: 5px;
	border-radius: 5px;
}

button:hover{
	background-color: grey;
}


#fetch-btn{
	margin: 10px;
}

#dog-image-container{
	margin: 10px;
}




